.header {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.header section {
  width: 40%;
}

.header h1,
.header p {
  margin: 0.5rem 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.title .copy {
  text-decoration: underline;
  cursor: pointer;
}
